<div class="sidebar-right">
    <div>
        <p></p>
            {% include social-media-links.html %}
            <hr/>
        <h2>Categories</h2>
        <!--{% include category_titles.html %}-->
            {% for category in categories %}
                <a class="post-tag"
                href="{{ site.baseurl }}/category/{{ category | slugify }}"
                >{{ category }}</a>{% unless forloop.last %} {% endunless %}
            {% endfor %}
        <hr/>
        <h2>Tags</h2>
            {% for tag in tags %}
                <a class="post-tag"
                href="{{ site.baseurl }}/tag/{{ tag | slugify }}"
                >{{ tag }}</a>{% unless forloop.last %} {% endunless %}
            {% endfor %}
        </a>
     </div>
</div>